* { 
    box-sizing: border-box; 
 }

body {
    background-image: url(../img/1598022.png);
    font-family: "Zain";
    background-size: cover;
}

.conteudo {
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:baseline;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 450px;
}

@media all and (max-width: 800px) {
    .conteudo {
        width: 310px;
        margin-top: 120px;
    }
    .ajuste {
        align-items: center;
    }
    
}



.slogan {
    width: 80%;
    height: 175px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px); ;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 420px;
    font-size: 62px;
}

@media all and (max-width: 800px) {
    .slogan {
        width: 310px;
        height: 500px;
        padding-left: 10px;
        margin-top: 120px
    }
    .posicao_slogan {
        align-items: center;
    }
}