* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
 }
 
 body {
     background-image: url(../img/1598022.png);
     font-family: "Zain";
     background-size: cover;
 }
 
 /*Header*/
 header {
     background-color:rgba(150, 38, 38, 0.842) ;
     display: flex;
     text-align: center;
     padding: 5px;
     justify-content: space-between;
 }
 
 .icons {
   margin-right: 10px;  
 }

 .cabecalho {
     justify-content: center;
     display: flex;
     flex-grow: 1;
 }
 
 /*Links de Navegação no Site*/
 .lista {
     font-size: 26px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20rem;
 }
 
 .lista a:hover {
     border-radius: 8px;
     background-color:rgba(24, 22, 22, 0.466); ;
     box-shadow: 5px 1px 1px rgba(24, 22, 22, 0.466);
     padding: 10px;
 }
 
 @media all and (max-width:1150px) {
    .lista {
        gap: 10rem;
    }
}

@media all and (max-width: 850px) {
    .lista {
       gap: 5rem;
    }
}

@media all and (max-width: 650px) {
    .lista {
       gap: 2rem;
    }
}

 .logo {
     border-radius: 50%;
     margin-left: 10px;
     max-height: 80px;
     margin-right: 20px;
 }
 
 header a {
     text-decoration: none;
     color: white;
     display: flex;
     text-align: center;
 }
 
/*Main*/

.card {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-flow: column nowrap;
}

.cardapio {
    width: 1600px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@media all and (max-width: 1600px) {
    .cardapio {
        width: 70%;
    }
}

@media all and (max-width: 650px) {
    .cardapio {
        width: 70%;
        height: 300px;
    }
}

@media all and (max-width: 1020px) {
    .cardapio {
        flex-flow: column nowrap;
        height: 600px;
    }
}

@media all and (max-width: 790px) {
    .cardapio {
        height: 650px;
    }
}

@media all and (max-width: 700px) {
    .cardapio {
        height: 780px;
    }
}

@media all and (max-width: 550px) {
    .cardapio {
        height: 850px;
    }
}

.cardapio img {
    border-radius: 50%;
    width: 260px;
    margin-top: 50px;
    margin-left: 20px;
}

.cardapio p {
    font-size: 28px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-right: 30px;
}

.cardapio h1 {
    font-size: 32px;
}

.texto1 {
    margin-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.conselho {
    width: 1600px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 1600px) {
    .conselho {
        width: 70%;
    }
}

@media all and (max-width: 680px) {
    .conselho {
        width: 70%;
        height: 300px;
    }
}

.pedido h1 {
    font-size: 46px;
    text-align: center;    
}

/*Footer*/

.footer {
    height: 90px;
    background-color: gray;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

@media all and (max-width: 555px) {
    .footer {
        height: 150px;
    }
}

.footer .reclame {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.footer .reclame h2 {
    font-size: 30px;
    color: rgb(26, 25, 25);
}

.footer .reclame p {
    font-size: 18px;
    text-align: justify;
    color: rgb(26, 25, 25);
}

.footer .redes-sociais h2 {
    font-size: 30px;
    color: rgb(26, 25, 25);
}

.footer .reclame h2:hover {
    text-decoration: underline;
    
}

.redes-sociais ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.link-redes {
    width: 30px;
}

.link-redes:hover {
    border: 2px solid black;
}