
* { 
    box-sizing: border-box; 
 }

 body {
    background-image: url(../img/1598022.png);
    font-family: "Zain";
    background-size: cover;
}

.conteudo {
    width: 800px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(8px); 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:baseline;
    flex-flow: column nowrap;
    align-items: center;
}

@media all and (max-width: 650px) {
    .conteudo {
        width: 80%;
    }
}